@font-face {
    font-family: 'basiic';
    src: url('basiic.woff2') format('woff2'),
        url('basiic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

